*.sublime-workspace
build/
core/
# data/resources/
traces/
data/*.exe
data/*.dll
data/*.ini
data/*.osm
data/*.gpx
data/*.tcx
third_party/libroxml/
third_party/libxml2-*/
third_party/xmlh/
third_party/yxml/
third_party/pugixml/