*.sublime-workspace
core/
# _data/resources/
_build/
_traces/
_data/*.exe
_data/*.dll
_data/*.ini
_data/*.osm
_data/*.gpx
_data/*.tcx
third_party/libroxml/
third_party/libxml2-*/
third_party/xmlh/
third_party/yxml/
third_party/pugixml/